.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-title {
  text-transform: capitalize;
  font-family: "Raleway";
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
}

@media (max-width: 700px) {
  .header-title {
    font-size: 6.4vw;
  }
}
